<!--  header of edit note dialog  -->
<header mat-dialog-title class="header color-bg--main">
        
    <h1 i18n="edit note dialog title" class="header_name">Edit note</h1>
        
</header>

<!-- feedback -->
<p i18n="feedback, when title is missing" *ngIf="feedback" class="feedback">Title is required.</p>
    
<!-- dialog content -->
<mat-dialog-content>

    <!-- edit note form -->
    <form class="form" #noteForm="ngForm" (ngSubmit)="editNote()">
        <!-- title list input -->
        <mat-form-field appearance="legacy">
            <mat-label i18n="label for note title">Title</mat-label>
            <input 
                matInput 
                type="text" 
                name="title"
                [(ngModel)]="note.title"
                required
            >
        </mat-form-field>
        <!-- about note input -->
        <mat-form-field appearance="legacy">
            <mat-label i18n="label for note description">Description</mat-label>
            <textarea
                matInput 
                rows="5"
                type="text" 
                name="info"
                [(ngModel)]="note.info"
            ></textarea>
        </mat-form-field>
        
        <!-- submit form button -->
        <button i18n="edit note button" type="submit" mat-flat-button color="primary">Edit note</button>
    </form>  

</mat-dialog-content>