<!--  header of edit note dialog  -->
<header mat-dialog-title class="header color-bg--main">
        
    <h1 class="header_name">Edit note</h1>
        
</header>

<!-- feedback -->
<p *ngIf="feedback" class="feedback">{{feedback}}</p>
    
<!-- dialog content -->
<mat-dialog-content>

    <!-- edit note form -->
    <form class="form" #noteForm="ngForm" (ngSubmit)="editNote()">
        <!-- title list input -->
        <mat-form-field appearance="legacy">
            <mat-label>Title</mat-label>
            <input 
                matInput 
                placeholder="Title"
                type="text" 
                name="title"
                [(ngModel)]="note.title"
                required
            >
        </mat-form-field>
        <!-- about note input -->
        <mat-form-field appearance="legacy">
            <mat-label>Description</mat-label>
            <textarea
                matInput 
                placeholder="Description"
                rows="5"
                type="text" 
                name="info"
                [(ngModel)]="note.info"
            ></textarea>
        </mat-form-field>
        
        <!-- submit form button -->
        <button type="submit" mat-flat-button color="primary">Edit note</button>
    </form>  

</mat-dialog-content>