<!--  header of add note dialog  -->
<header mat-dialog-title class="header color-bg--second">
        
    <h1 i18n="add new note dialog title" class="header_name">Add new note</h1>
        
</header>
<!-- feedback -->
<p i18n="feedback, when title is missing" *ngIf="feedback" class="feedback">Title is required.</p>

<!-- dialog content -->
<mat-dialog-content>
    
    <!-- add note form -->
    <form class="form" #noteForm="ngForm" (ngSubmit)="addNewNote()">
        <!-- title note input -->
        <mat-form-field appearance="legacy">
            <mat-label i18n="label for note title">Title</mat-label>
            <input 
                matInput 
                type="text" 
                name="title"
                [(ngModel)]="note.title"
                required
            >
        </mat-form-field>
        <!-- about note input -->
        <mat-form-field appearance="legacy">
            <mat-label i18n="label for note description">Description</mat-label>
            <textarea
                matInput 
                rows="5"
                type="text" 
                name="info"
                [(ngModel)]="note.info"
            ></textarea>
        </mat-form-field>
        
        <!-- submit form button -->
        <button i18n="create note button" type="submit" mat-flat-button color="accent">Create note</button>
    </form>  

</mat-dialog-content>