@import '../../../scss/_variables';
@import '../../../scss/_typography';

.btn_back {
    margin-bottom: 30px;
}

.note {
    &_info {
        text-align: center;
        font-size: 18px;
        line-height: 24px
    }
}