@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// GLOBAL STYLE
// resets
@import 'scss/_resets';
// variables
@import 'scss/_variables';

body {
    font-family: $main_font;
    color: $color_main;
}

.container {
    max-width: $width;
    margin: 0 auto;
    padding: 50px 30px 0 30px;

    // desktop
    @media screen and (min-width: 960px) {
        padding: 50px 50px 0 50px
    }
}

.notes_custom_dialog_style .mat-dialog-container {
    padding: 0;
    border-radius: $radius;
    width: 500px
}

// dialog style
.notes_custom_dialog_style .mat-dialog-content {
    margin: 0;
    padding: 0;
}

.menu_controls .mat-button-toggle-group {
    box-shadow: none;
    border: 1px solid darken( $background, 10% );
}

.color-bg--second {
    background: $color_second;
}

.color-bg--main {
    background: $color_main;
}

.center {
    text-align: center;
}



// angular theme
@import '~@angular/material/theming';
@include mat-core();

$bsc-app-primary: mat-palette($mat-brown);
$bsc-app-accent:  mat-palette($mat-red, 600);
$bsc-app-warn:    mat-palette($mat-red);

$bsc-app-theme: mat-light-theme($bsc-app-primary, $bsc-app-accent, $bsc-app-warn);

@include angular-material-theme($bsc-app-theme);
