//	VARIABLES
// ------------------------------------------------------
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' );

//font
$main_font: 'Open Sans', sans-serif;

// color
$color_main: #37474F;
$color_second: #558B2F;
$color_third: #203341;
$background: white;

// container
$width: 1140px;

// corners
$radius: 8px;
// animation
$transition: 0.3s;

// border
$border: 1px solid darken( $background, 10% )