//	VARIABLES
// ------------------------------------------------------
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' );

//font
$main_font: 'Open Sans', sans-serif;

// color
$color_second: #E53935;
$color_main: #5D4037;
$color_third: #203341;
$background: white;

// container
$width: 1140px;

// corners
$radius: 8px;

$transition: 0.3s;