<ul class="note_wrapper">
      
    <li class="note" *ngFor="let note of notes">
        <!-- note title -->
        <a routerLink="/note/{{ note.id }}" class="note_title">
            <h1>{{note.title}}</h1>
        </a>
        <!-- buttons (edit note, delete note) -->
        <div class="note_control">
            <button (click)="openEditDialog(note.id)" mat-icon-button color="primary" class="note_edit">
                <i class="material-icons">edit</i>
            </button>
            <button (click)="deleteNote(note.id)" mat-icon-button color="primary" class="note_delete">
                <i class="material-icons">delete</i>
            </button>
        </div>
    </li>

</ul>

<!-- feedback if no notes-->
<p *ngIf="notes.length == 0" class="feedback">Add some notes</p>
